# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
notes.txt
Not used/App.css
Not used/App.js
Not used/App.test.js
Not used/logo.svg
public/favicon.ico
public/logo192.png
public/logo512.png
public/robots.txt
src/serviceWorker.js
src/Views/KidsActivities/rollForSentenceWords.html
bonico.code-workspace
rhymes.docx
public/rhymes_original.pdf
package-lock.json
public/images/softwareNotes/display_flex_align_contents_7.png
public/images/softwareNotes/display_flex_align_items_6.png
public/images/softwareNotes/display_flex_direction__text_align_2.png
public/images/softwareNotes/display_flex_direction__text_align_3.png
public/images/softwareNotes/display_flex_direction_1.png
public/images/softwareNotes/display_flex_direction_wrap_4.png
public/images/softwareNotes/display_flex_items_9.png
public/images/softwareNotes/display_flex_items_flexgrow_10.png
public/images/softwareNotes/display_flex_items_order_8.png
public/images/softwareNotes/display_flex_justify_5.png
src/setupTests.js
src/Views/MathActivities/MathChecklists.jsx
src/Views/SoftwareNotes/animations.css
src/Views/SoftwareNotes/cssanimations.jsx
src/Views/SoftwareNotes/csspositioning.jsx
src/Views/SoftwareNotes/reactnotes1.jsx
src/tempTest.html
