
.traceLetterCanvas {           
    width: 80vw;
    height:70vh;
    border: solid 2px navy;    
    padding:15px;    
}
.LabelBDPQ{
    font-size : 40vh;    
}
.correctLetterLabel{
    font-size : 40vh;
    color:green;
}
.pbdqImages{
    width: 75px;
    height:150px;
    margin:2px;    
}
.pbdqButton{        
    margin:5px;  
    background-color: var(--main-ButtonBKColor-color);
    border-color: var(--main-ButtonColor-color); 
    border-radius: 10px;

    width: 110px;
    height:110px;
    margin:5px;    
    font-size: 75px;
    color: var(--main-ButtonTextColor-color);

    
}
.pbdqButton:Hover{
    background-color: deeppink;
}
.pbdqButton:focus{
    outline: none;
}
.radio-toolbar {
    margin: 10px;
  }
  
  .radio-toolbar input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }
  
  .radio-toolbar label {
      display: inline-block;
      background-color:var(--main-ButtonBKColor-color);
      padding: 5px 25px;      
      font-size: 2.5vw;
      border: 2px solid var(--main-ButtonColor-color);
      border-radius: 25px;
      color:var(--main-ButtonTextColor-color);
      margin:5px;
  }
  
  
  .radio-toolbar label:hover {
    background-color: deeppink;
  }
  
  .radio-toolbar input[type="radio"]:focus + label {
      border: 2px solid yellow;
  }
  
  .radio-toolbar input[type="radio"]:checked + label {
      background-color: aqua;
      border-color:var(--main-ButtonColor-color);
  }
  

 .circleWhite {            
    background-color: white;
    padding: 5px 25px;
    border: 1px solid navy;
    margin:5px;
    font-size: 3vw;
    border: 2px solid var(--main-ButtonColor-color);
    border-radius: 25px;    
}
.circleGreen  {                 
    background-color: green;
    padding: 5px 25px;
    border: 1px solid navy;
    margin:5px;
    font-size: 3vw;
    border: 2px solid var(--main-ButtonColor-color);
    border-radius: 25px;
}
.circleRed{            
    background-color: red;
    padding: 5px 25px;
    border: 1px solid navy;
    margin:5px;
    font-size: 3vw;
    border: 2px solid var(--main-ButtonColor-color);
    border-radius: 25px;
}

.letterCardsForReadingWorkds{
    background-color: lightblue;
    color:navy;
    font-size: 15vh;
    border:5px solid navy;
    border-radius: 10px;;
    padding:15px;
    margin:5px;
    width:20vw;
    height:18vh;
}

.cardsAnimation { animation-name: animation1; animation-duration: 1s; animation-iteration-count: 2} 

@keyframes animation1 { 
    0%  {   color: black;  } 
    25% { color:white} 
    50% {  color: navy; } 
    100% { color:deeppink }
}
